.post-comments {
  padding: 40px 0 20px 10px;

  h3 {
    color: var(--light-grey);
  }

  .comments {
    transform: translateX(-20px);
  }
  .comment {
    padding: 20px 0 0 20px;

    .comment-body {
      position: relative;

      .timestamp {
        position: absolute;
        right: 0;
        bottom: 0;
      }

      p {
        padding: 10px 0;
      }
    }

    .comment-form {
      padding: 10px 0;
    }
  }
}
