.alert {
  position: fixed;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background: var(--dark-grey);
  transition: all 0.6s ease;
  transform: translateY(calc(-120% - 10px));
  z-index: 10000;
}

.alert__info {
  transform: unset;

  h3 {
    color: var(--info);
  }
}

.alert__warning {
  transform: unset;

  h3 {
    color: var(--warning);
  }
}

.alert__error {
  transform: unset;

  h3 {
    color: var(--error);
  }
}
